header {
  background-color: black;
  color: white;
  /* border: 2px solid black; */
  padding-left: 100px;
}

.Logo {
  /* border: 2px solid wheat; */
  display: inline-block;
}

nav {
  /* border: 2px solid green; */
  display: inline-block;
  margin-left: 400px;
}

ul {
  display: inline-block;
  color: white;
}

li {
  display: inline-block;
  margin-left: 15px;
}
a {
  text-decoration: none;
  color: white;
}
.contact {
  margin-left: 400px;

  display: inline-block;
  /* border: 2px solid green; */
}
